@use '../abstracts/' as *;

.custom-table {
    width: 100%;
    height: 90%;
    @include flex-layout(flex, center, center, column);
    gap: pxToRem(12);

    &__header {
        width: 100%;
        @include flex-layout(flex, space-between, center, row);
    }

    &__button {
        padding: pxToRem(8) pxToRem(15);
        height: 100%;
        border-radius: pxToRem(8);
        background-color: $primary-color;
        color: white;
        font-weight: 600;
        @include flex-layout(flex, center, center, row);
        gap: pxToRem(5);
    }

    &__input {
        width: 30%;
        border-radius: pxToRem(8);
        border: 1px solid $stroke-black-20;
        padding: pxToRem(12);
    }

    &__content {
        width: 100%;
        height: 100%;
        border-radius: pxToRem(8) pxToRem(8) 0 0;
    }
}