<div>
    <p>Xin Chào, <span>{{name}}</span></p>
    <p>Cảm ơn bạn đã đăng ký dịch vụ của chúng tôi, mật khẩu của bạn là: <span>{{password}}</span></p>
    <p>Click vào "Tạo mật khẩu mới!" chờ khoảng 30s để đăng nhập lại.</p>
    <p>Xin cảm ơn!</p>
    <a  href="http://1192.168.135.186:8080/aquarium_shop/api/auth/customer/verify_password_reset?token={{token}}&email={{email}}&password={{password}}&role={{role}}"
        style="text-decoration: underline; cursor: pointer"
    >
        Tạo mật khẩu mới
    </a>
    <p><b><i><u>Email chỉ có hiệu lực trong 5 phút!</u></i></b></p>
    <br>
    <p>Aquarium Shop</p>
</div>