// Breakpoints
$screen-small: 767px;
$screen-medium: 1023px;
$screen-large: 1024px;

$background-white: #FFFFFF;
$background-gray: #e0e0e0;
$background-gray-60: rgba(224, 224, 224, 0.6);
$background-blue-cold: #8ccae26f;

$black-70: rgba(0, 0, 0, 0.7);

$stroke-black-10: rgba(0, 0, 0, .1);
$stroke-black-20: rgba(0, 0, 0, .2);

$primary-color: #00B667;
