// Breakpoints
$screen-small: 767px;
$screen-medium: 1023px;
$screen-large: 1024px;

$background-white: #FFFFFF;
$background-gray: #e0e0e0;
$background-gray30: #e0e0e058;

$stroke-black-10: #000000c3;

$primary-color: #00B667;